{% extends 'base.html' %}

{% block title %}Admin{% endblock title %}

{% block adminactive %}active{% endblock adminactive %}


{% block body %}


{% if user.is_authenticated %}

<div class="container pt-2 my-5">
  <p>Welcome, {{user.email}} <a href="/logout">Logout</a></p>
  <div>
    <h1 class="text-center mt-5" style="color: black;"><u><i>Add Book</i></u></h1>
    <form action="/addbook" method="post"> {% csrf_token %}
      <div class="mb-3 my-2">
        <label for="title" class="form-label">Book Name</label>
        <input type="text" class="form-control border border-5" name="bookname" id="title" placeholder="Enter Book Name here." required>
      </div>
      <div class="mb-3 my-2">
        <label for="title" class="form-label">Author Name</label>
        <input type="text" class="form-control border border-5" name="author" id="title" placeholder="Enter Author Name here." required>
      </div>
      <div class="mb-3 my-2">
        <label for="title" class="form-label">ISBN</label>
        <input type="text" class="form-control border border-5" name="isbn" id="title" placeholder="Enter ISBN here." required>
      </div>
      <div class="mb-3 my-2">
        <label for="title" class="form-label">Quantity</label>
        <input type="text" class="form-control border border-5" name="quantity" id="title" placeholder="Enter quantity here." required>
      </div>
      <button type="submit" class="btn btn-primary">Add Book</button>
    </form>
    <br>
    <br>
  </div>
</div>



<div class="container">


  <br>
  <br><br>

  <h1 class="text-center my-5"><u><i>Books List</i></u></h1>


  {% if allbook|length == 0 %}
  <div class="alert alert-info text-center my-5" role="alert">
    No Books in the list.
  </div> 

  {% else %}

  <table class="table table-bordered border-primary border border-4 text-center">
    <thead class="border border-4 border-primary">
      <tr>
        <th class="col-1" scope="col">Sr. No</th>
        <th class="col-4" scope="col">Book Name</th>
        <th class="col-3" scope="col">Book's Author</th>
        <th class="col-1" scope="col">ISBN</th>
        <th class="col-1" scope="col">Quantity</th>
        <th class="col-2" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      {% for book in allbook %}
      <tr>
        <th scope="row">{{forloop.counter}}.</th>
        <td>{{book.book_name | title}}</td>
        <td>{{book.author | title}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.quantity}}</td>
        <td>
          <a href="/update/{{book.sno}}"><button type="button" class="btn btn-sm btn-outline-info mx-1">Update</button></a>
          <a href="/delete/{{book.sno}}"><button type="button" class="btn btn-sm btn-outline-danger mx-1">Delete</button></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% else %}

<div class="alert alert-info text-center my-5" role="alert">
  Please <a  href="/login">Login</a> to Add and See Books.
</div>


{% endif %}
{% endblock body %}