{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% load filters %}


{% block body %}


<div class="container my-5">
<h1 class="my-5">Administration Login</h1>


<form action="/login" method="post"> {% csrf_token %}
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder = "Enter your Email Address" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your Password" required>
  </div>
  <button type="submit" class="btn btn-outline btn-primary">Submit</button>
</form>

<p class="text-center my-5">Don't have an account? <a  href="/signup">Sign-up</a></p>

</div>


{% endblock body %}